---
layout: page
title: Goal Tracker 2018
permalink: /goal-tracker/
---
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function round (n) {
      return Math.ceil(n * 10) / 10;
    }
    
    
    
    $(document).ready(function() {
      let request = new XMLHttpRequest();
      let url = `https://p5v5525j33.execute-api.us-east-1.amazonaws.com/prod`;
    
      function reqListener () {
        if (this.readyState === 4 && this.status === 200) {
          let response = JSON.parse(this.responseText);
          $(".running").append(round(response["total_miles"]) + "   (");
          if (response["position"] > 0) {
            $(".running").append("+");
          }
          $(".running").append(round(response["position"]) + ")");
          $(".running").append("<br/>");
          $(".running").append("Monthly Breakdown:<br/>");
    
          for (var key in response["monthly"]) {
            $(".running").append(key + ": " + round(response["monthly"][key]) + "<br/>");
          }
        }
      }
    
      request.addEventListener("load", reqListener);
      request.open("GET", url, true);
      request.send();

      let request_lift = new XMLHttpRequest();
      let url_lift = `https://dl.dropboxusercontent.com/s/t1659txtbkhjmpf/gym_days.json?dl=1`;
    
      function reqListenerLift () {
        if (this.readyState === 4 && this.status === 200) {
          let response = JSON.parse(this.responseText);
          $(".lifting").append(response["gym_days"]);
        }
      }
    
      request_lift.addEventListener("load", reqListenerLift);
      request_lift.open("GET", url_lift, true);
      request_lift.send();

      
    });
    
  </script>
  
</head>
<p>
This page is tracking my goals for 2018 as outlined in my resolutions <a href="{% post_url 2018-01-23-2018-Resolutions %}">blog post</a>.
</p>
<h1><a>Running (500 Miles)</a></h1>
<p class="running">
  Miles so far this year (position from pace): 
</p>

<h1><a>Lifting (100 Days)</a></h1>
<p class="lifting">
  Lifting days so far this year: 
</p>

<h1><a>Blog Posts (24 Times)</a></h1>
{% for post in site.posts %}

  {% assign thisyear = post.date | date: "%Y" %}


{% if thisyear != "2018" %}
    <p>Posts this year: {{counter }}<p>
    {% break %}
  {% endif %}

  {% assign counter = counter | plus: 1 %}

{% endfor %}

<h1><a>Reading (10 Books)</a></h1>

<h2>Books</h2>
<p>
  <a href="https://www.amazon.com/dp/0671042262">The Blue Nowhere</a> by Jeffery Deaver
  <br>
  This was a really fun quick read. Picked it up at a bookstore on a ski trip and finished it in only a couple days. The context of Silicon Valley and hacking was interesting to me being a computer science major. It was interesting to read about the state of the internet and hacking in 2001 and even earlier.
  <br>
  <br>
  <a href="https://www.amazon.com/dp/0143127535">How Not to Be Wrong: The Power of Mathematical Thinking</a> by Jordan Ellenberg
  <br>
  This book basically taught the reader how to think skeptically, using math. The key part of this was the math, because it taught you what numbers and methods to be skeptical about. How p-values can be abused and other mathematical concepts that on the surface seem valid, but if not used properly can give invalid results.
  <br>
  <br>
  <a href="https://www.amazon.com/dp/B000SEGDRW/">The Charm School</a> by Nelson DeMille
  <br>
  This was the other book I picked up while on the ski trip. It was a little bit longer of a read, although that just have been the pace I was reading at. It was another fun read that reminded me of a Jack Ryan style story. Another reminder of how fun it is to read and how much I've missed reading for fun.
  <br>
  <br>
  <a href="https://www.amazon.com/dp/0804137277/">Armada</a> by Ernest Cline
  Another great book by Ernest Cline, I loved Ready Player One, and while this doesn't live all the way up to it I still enjoyed it alot.
  <br>
  <br>
  <a href="https://www.amazon.com/dp/0143125087/">The Signal and the Noise: Why So Many Predictions Fail--but Some Don't</a> by Nate Silver
  I have been reading five thirty-eight for years so it's a wonder it took me so long to get around to reading this. I thought this book was great and really made me think about the inherint trust I have in models and data that I create and gather, and how to be more skeptical.
 

  
</p>
<h2>AudioBooks</h2>
<p>
  <a href="https://www.amazon.com/Wrinkle-Time-Quintet/dp/0312367546">A Wrinkle in Time</a> by Madeleine L'Engle
  <br>
This was a good book, obviously meant for a younger crowd, but I wanted to read it before the movie. I also think that by reading this I will want to read the rest of the series.

</p>



